{% extends "./baza.html" %}
{% load static %}
{% block title %}Despre{% endblock %}

{% block content %}    
    <section class = 'brand-class'>
        <h2>ZARA</h2>
    </section>

    <section class = 'brand-class'>
        <h2>H&M</h2>
    </section>

    <section class = 'brand-class'>
        <h2>Lacoste</h2>
    </section>

    <section class = 'brand-class'>
        <h2>Cos</h2>
    </section>

    <section class = 'brand-class'>
        <h2>Mango</h2>
    </section>

    <section class = 'brand-class'>
        <h2>Stradivarius</h2>
    </section>

{% endblock %}

{% block footer %}

{% endblock %}
