{% extends "./baza.html" %}
{% load static %}
{% block title %}Despre{% endblock %}

{% block content %}    
    <section class = 'colectie-class'>
        <h2>Colectia de Iarna</h2>
    </section>

    <section class = 'colectie-class'>
        <h2>Colectia de Primavara</h2>
    </section>

    <section class = 'colectie-class'>
        <h2>Colectia de Primavara - Vara</h2>
    </section>

    <section class = 'colectie-class'>
        <h2>Colectia de vara</h2>
    </section>

    <section class = 'colectie-class'>
        <h2>Colectia de Toamna</h2>
    </section>

    <section class = 'colectie-class'>
        <h2>Colectia de Toamna-Iarna</h2>
    </section>

{% endblock %}

{% block footer %}

{% endblock %}
