{% extends "./baza.html" %}
{% load static %}
{% block title %}Inregistrare{% endblock %}

{% block content %}
    {% if form.errors %}
        <div style="color: red; border: 1px solid red; padding: 10px;">
            <p>Au apărut erori la înregistrare:</p>
            {{ form.errors }}
        </div>
    {% endif %}
    <form method="POST" action="">
        {% csrf_token %}
        {% for field in form %}
            <div class="form-group">
                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                {{ field }}
                {% if field.errors %}
                    <div class="error">
                        {% for error in field.errors %}
                            <p>{{ error }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
                {% if field.help_text %}
                    <small>{{ field.help_text }}</small>
                {% endif %}
            </div>
        {% endfor %}
        <button type="submit">Submit</button>

    </form>

{% endblock %}